<h2 class="md-headline schedule-header">Create schedule for <span ng-cloak>{{getDisplayName(teacher)}}</span></h2>

<md-autocomplete md-items="teacher in queryTeachers(searchText)" md-selected-item="selectedTeacher" md-search-text="searchText"
    md-item-text="getDisplayName(teacher)" md-min-length="0" md-selected-item-change="editTeacherSchedule(teacher)" placeholder="Choose a teacher">
    <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{getDisplayName(teacher)}} - {{teacher.schedule.notScheduled.length}} not scheduled</span>
    </md-item-template>
    <md-not-found>
        <span ng-if="searchText">Nothing found for "{{searchText}}"</span>
        <span ng-if="!searchText">There is no teachers with not scheduled classes</span>
    </md-not-found>
</md-autocomplete>

<schedule-editor ng-model="teacher" ng-if="teacher"></schedule-editor>