<form name="time-schedule" class="scheduler-dialog" ng-submit="submit()">
    <h3>Przydziel zajęcia</h3>

    <div class="section">
        Nauczyciel: <strong>{{teacher.displayName}}</strong>
    </div>

    <div class="section">
        Przedmiot: <strong>{{course.name}}</strong>
    </div>

    <div class="section">
        Wybierz salę:

        <md-select placeholder="Sala" ng-model="room" md-on-open="loadUsers()" style="min-width: 200px;">
            <md-option ng-value="room" ng-repeat="room in suggestion.rooms">{{room}}</md-option>
        </md-select>
    </div>

    <md-button type="submit" class="md-raised">Potwierdź</md-button>
</form>