<form name="time-schedule" class="scheduler-dialog" ng-submit="submit()">
    <h3>Assign course</h3>

    <div class="section">
        Teacher: <strong>{{getDisplayName(teacher)}}</strong>
    </div>

    <div class="section">
        Course name: <strong>{{course.name}}</strong>
    </div>

    <div class="section">
        Starts at: <strong>{{suggestion.startsAtTime}}</strong>
    </div>

    <div class="section">
        Classroom:

        <md-select placeholder="Sala" ng-model="classroom" md-on-open="loadUsers()" style="min-width: 200px;">
            <md-option ng-value="classroom.id" ng-repeat="classroom in suggestion.possibleClassrooms">{{classroom.name}}</md-option>
        </md-select>
    </div>

    <md-button type="submit" class="md-raised md-primary">Send</md-button>
</form>