<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Nauczyciele">
        <teacher-editor ng-if='data'></teacher-editor>
      </md-tab>
      <md-tab label="Wydziały">
        <department-editor ng-if='data'></department-editor>
      </md-tab>
      <md-tab label="Sale">
        <classroom-editor ng-if='data'></classroom-editor>
      </md-tab>
      <md-tab label="Kierunki">
        <faculty-editor ng-if='data'></faculty-editor>
      </md-tab>
      <md-tab label="Plany">
        <study-plan-editor ng-if='data'></study-plan-editor>
      </md-tab>
    </md-tabs>
  </md-content>
</div>