<md-card>
   <md-card-title>
      <span class="md-headline">Przedmioty</span>
   </md-card-title>
   <md-card-content>
      <subject-editor ng-repeat="subject in semester.subjects" ng-model="subject" layout-gt-sm="row" layout-padding></subject-editor>
      <md-button type="button" ng-click="addSubject()" class=" add-element-button md-primary md-raised">Dodaj przedmiot</md-button>
   </md-card-content>
</md-card>
<md-card id="group-adder-{{::$id}}">
   <md-card-title>
      <span class="md-headline">Grupy</span>
   </md-card-title>
   <md-card-content>
   <md-tabs class="group-wrapper" ng-if="semester.subgroups.length > 0" md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="subgroup in semester.subgroups">
         <md-tab-label>{{subgroup.name}}</md-tab-label>
         <md-tab-body>
            <group-editor ng-model="subgroup">
            </semester-editor>
         </md-tab-body>
      </md-tab>
   </md-tabs>
   </br>
   <div layout-gt-sm="row" >
      <div>
         <md-button type="button" ng-click="addGroup(newGroupName)" class="add-element-button md-block md-primary md-raised">Dodaj grupę</md-button>
      </div>
      <md-input-container class="md-block short-input-container" flex-gt-sm>
         <label>Nazwa grupy</label>
         <input ng-model="newGroupName" type="text" ng-minlength="1" ng-maxlength="45">
      </md-input-container>
   </div>
</md-card>