<md-card>
   <md-card-title>
      <span class="md-headline">Przedmioty</span>
   </md-card-title>
   <md-card-content>
      <subject-editor ng-repeat="subject in semester.subjects" ng-model="subject" layout-gt-sm="row" layout-padding></subject-editor>
      <md-button type="button" ng-click="addSubject()" class="md-primary md-raised">Dodaj przedmiot</md-button>
   </md-card-content>
</md-card>
<md-card>
   <md-card-title>
      <span class="md-headline">Grupy</span>
   </md-card-title>
   <md-card-content>
   <md-tabs class="group-wrapper" ng-if="semester.subgroups.length > 0" md-dynamic-height md-border-bottom>
      <span ng-repeat="subgroup in semester.subgroups">
      <md-tab>
         <md-tab-label>{{subgroup.name}}</md-tab-label>
         <md-tab-body>
            <group-editor ng-model="subgroup">
            </semester-editor>
         </md-tab-body>
      </md-tab>
      <span>
   </md-tabs>
   <div layout-gt-sm="row" layout-padding>
      <div flex-gt-sm>
         <md-button type="button" ng-click="addGroup(newGroupName)" class="md-block md-primary md-raised">Dodaj grupę</md-button>
      </div>
      <md-input-container class="md-block short-input-container" flex-gt-sm>
         <label>Nazwa grupy</label>
         <input ng-model="newGroupName" type="text">
      </md-input-container>
   </div>
</md-card>