<div class="cd-schedule">
	<div class="timeline">
		<ul>
			<li ng-repeat="time in hours"><span>{{time.format('H:mm')}}</span></li>
		</ul>
	</div>

	<div class="events">
		<ul>
			<li class="events-group" ng-repeat="day in schedule">
				<div class="top-info"><span>{{getDayName($index)}}</span></div>

				<ul ng-style="{height : fullHeight}">
					<li class="single-event" ng-repeat="lesson in day" ng-style="{'top' : getItemPosition(lesson.startsAt), 'height' : getItemHeight(lesson.duration)}"
						ng-class="lesson.type">
						<div class="event-inner">
							<div class="event-name">{{lesson.name}}</div>
							<div class="event-meta">
								<a class="teacher-link" href="#" ui-sref="schedule({ id: lesson.teacher.id, type: 'teacher' })">{{getDisplayName(lesson.teacher)}}</a>
								<div>{{lesson.type}} / {{lesson.classroom.name}}</div>
							</div>
						</div>
					</li>

					<li class="suggestion" ng-repeat="suggestion in suggestions[$index]" ng-style="{'top' : getItemPosition(suggestion.startsAt), 'height' : getItemHeight(suggestion.duration)}"
						ng-class="lesson.type" layout="column" layout-align="center center" ng-click="chooseSuggestion(suggestion, $parent.$index)">
						Wybierz
					</li>
				</ul>
			</li>

			<!-- additional li.events-group here -->
		</ul>
	</div>
</div>