<md-card id="editDepartmentCard">
  <md-card-title>
    <span class="md-headline">Edit existing department</span>
  </md-card-title>
  <md-card-content>
    <form name="editDepartmentForm" ng-submit="editDepartment()" novalidate>
    <div layout-gt-sm="row" layout-padding>
      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>Department</label>
        <md-select ng-model="selectedDepartment">
          <md-option ng-value="department" ng-repeat="department in departments | orderBy: 'name'">
            {{department.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>Name</label>
        <input ng-model="selectedDepartment.name" type="text" required ng-minlength="2" ng-maxlength="45">
      </md-input-container>

      <span>
            <md-button type="submit" ng-disabled="editDepartmentForm.$invalid" class="md-primary md-raised">Save</md-button>
        </span>
    </div>
    </form>
  </md-card-content>
</md-card>

<md-card id="addDepartmentCard">
  <md-card-title>
    <span class="md-headline">Add new department</span>
  </md-card-title>
  <md-card-content>
    <form name="addDepartmentForm" ng-submit="addDepartment()" novalidate>
      <div layout-gt-sm="row" layout-padding>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="newDepartment.name" type="text" required ng-minlength="2" ng-maxlength="45">
        </md-input-container>

        <span>
            <md-button type="submit" ng-disabled="addDepartmentForm.$invalid" class="md-primary md-raised">Add</md-button>
        </span>
      </div>
    </form>
  </md-card-content>
</md-card>