<md-input-container class="md-block short-input-container" flex-gt-sm>
    <label>Name</label>
    <input ng-model="subject.name" type="text" required ng-minlength="3" ng-maxlength="45" required>
</md-input-container>
<md-input-container class="md-block short-input-container" flex-gt-sm>
    <label>Teacher</label>
    <md-select ng-model="subject.teacher">
        <md-option ng-value="teacher" ng-repeat="teacher in data.teachers | orderBy: ['name', 'surname']">
            {{[teacher.title, teacher.name, teacher.surname].join(' ')}}
        </md-option>
    </md-select>
</md-input-container>
<md-input-container class="md-block short-input-container" flex-gt-sm>
    <label>Type</label>
    <md-select ng-model="subject.type">
        <md-option ng-value="type" ng-repeat="type in subjTypes">
            {{type.showAs}}
        </md-option>
    </md-select>
</md-input-container>
<md-input-container class="md-block short-input-container" flex-gt-sm>
    <label>Duration</label>
    <md-select ng-model="subject.duration" ng-init="subject.duration=subjDurations[6]">
        <md-option ng-value="duration" ng-repeat="duration in subjDurations">
            {{getDurationString(duration)}}
        </md-option>
    </md-select>
</md-input-container>
<span>
    <md-button type="button" ng-click="emitDelete()" class="md-warn md-fab md-mini md-raised">X</md-button>
</span>