<div class="cd-schedule">
	<div class="timeline">
		<ul>
			<li ng-repeat="time in hours"><span>{{time.format('H:mm')}}</span></li>
		</ul>
	</div>

	<div class="events">
		<ul>
			<li class="events-group" ng-repeat="day in schedule.schedule">
				<div class="top-info"><span>{{getDayName($index)}}</span></div>

				<ul>
					<li class="single-event" ng-repeat="lesson in day" ng-style="{'top': getItemPosition(lesson.startsAt), 'height': getItemHeight(lesson.duration)}"
						ng-class="lesson.type">
						<a href="#0">
							<div class="event-name">{{lesson.name}}</div>
							<div class="event-meta">{{lesson.teacher.name}}</div>
							<div class="event-meta">{{lesson.type}} / {{lesson.classroom.name}}</div>
						</a>
			</li>
			</ul>
			</li>

			<!-- additional li.events-group here -->
		</ul>
	</div>
</div>