<md-card id="editTeacherCard">
  <md-card-title>
    <span class="md-headline">Edit existing teacher</span>
  </md-card-title>
  <md-card-content>
    <form name="editTeacherForm" ng-submit="editTeacher()" novalidate>
    <div layout-gt-sm="row" layout-padding>
      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>Teacher</label>
        <md-select ng-model="selectedTeacher">
          <md-option ng-value="teacher" ng-repeat="teacher in teachers | orderBy: ['name', 'surname']">
            {{[teacher.title, teacher.name, teacher.surname].join(' ')}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>Degree</label>
        <md-select ng-model="selectedTeacher.title">
          <md-option ng-value="degree.title" ng-repeat="degree in degrees">
            {{degree.title}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>First name</label>
        <input ng-model="selectedTeacher.name" type="text" required ng-minlength="2" ng-maxlength="45">
      </md-input-container>

      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>Last name</label>
        <input ng-model="selectedTeacher.surname" type="text" required ng-minlength="2" ng-maxlength="45">
      </md-input-container>
      <span>
            <md-button type="submit" ng-disabled="editTeacherForm.$invalid" class="md-primary md-raised">Save</md-button>
        </span>
    </div>
    </form>
  </md-card-content>
</md-card>

<md-card id="addTeacherCard">
  <md-card-title>
    <span class="md-headline">Add new teacher</span>
  </md-card-title>
  <md-card-content>
    <form name="addTeacherForm" ng-submit="addTeacher(addTeacherForm.$valid)" novalidate>
      <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block short-input-container" flex-gt-sm>
          <label>Degree</label>
          <md-select ng-model="newTeacher.title" required>
            <md-option ng-value="degree.title" ng-repeat="degree in degrees">
              {{degree.title}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block short-input-container" flex-gt-sm>
          <label>First name</label>
          <input ng-model="newTeacher.name" type="text" required ng-minlength="2" ng-maxlength="45">
        </md-input-container>

        <md-input-container class="md-block short-input-container" flex-gt-sm>
          <label>Last name</label>
          <input ng-model="newTeacher.surname" type="text" required ng-minlength="2" ng-maxlength="45">
        </md-input-container>
        <span>
            <md-button type="submit" ng-disabled="addTeacherForm.$invalid" class="md-primary md-raised">Add</md-button>
        </span>
      </div>
    </form>
  </md-card-content>
</md-card>