<div class="group-navigation">
    <div ng-repeat="major in groups">
        <md-button ng-click="toggleGroup('major', $index)" class="group-button" layout="row" layout-align="start center">
            <span flex>{{major.name}}</span>
            <i ng-show="active.major !== $index">+</i>
            <i ng-show="active.major === $index">-</i>
        </md-button>

        <ul ng-show="active.major === $index">
            <li ng-repeat="semester in major.groups">
                <md-button ng-click="toggleGroup('semester', $index)" class="group-button" layout="row" layout-align="start center">
                    <span flex>{{semester.name}}</span>
                    <i ng-show="active.semester !== $index">+</i>
                    <i ng-show="active.semester === $index">-</i>
                </md-button>

                <ul ng-show="active.semester === $index">
                    <li ng-repeat="group in semester.groups">
                        <md-button class="group-button" ui-sref="schedule({ id: group.id, type: 'group' })">{{group.name}}</md-button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>