<md-card id="editClassoomCard">
  <md-card-title>
    <span class="md-headline">Edytuj istniejącą salę</span>
  </md-card-title>
  <md-card-content>
    <form name="editClassroomForm" ng-submit="editClassroom()" novalidate>
    <div layout-gt-sm="row" layout-padding>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Sala</label>
        <md-select ng-model="selectedClassroom">
          <md-option ng-value="classroom" ng-repeat="classroom in classrooms | orderBy: ['department', 'number']">
            {{[classroom.number, classroom.department].join(' | ')}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Wydział</label>
        <md-select ng-model="selectedClassroom.department">
          <md-option ng-value="department.name" ng-repeat="department in departments">
            {{department.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Numer</label>
        <input ng-model="selectedClassroom.number" type="text" required ng-minlength="1" ng-maxlength="45">
      </md-input-container>

      <span>
            <md-button type="submit" ng-disabled="editClassroomForm.$invalid" class="md-primary md-raised">Zapisz</md-button>
        </span>
    </div>
    </form>
  </md-card-content>
</md-card>

<md-card id="addClassroomCard">
  <md-card-title>
    <span class="md-headline">Dodaj nową salę</span>
  </md-card-title>
  <md-card-content>
    <form name="addClassroomForm" ng-submit="addClassroom()" novalidate>
      <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Wydział</label>
          <md-select ng-model="newClassroom.department" required>
            <md-option ng-value="department.name" ng-repeat="department in departments | orderBy : name">
              {{department.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Numer</label>
          <input ng-model="newClassroom.number" type="text" required ng-minlength="1" ng-maxlength="45">
        </md-input-container>

        <span>
            <md-button type="submit" ng-disabled="addClassroomForm.$invalid" class="md-primary md-raised">Dodaj</md-button>
        </span>
      </div>
    </form>
  </md-card-content>
</md-card>