<md-card id="editClassoomCard">
  <md-card-title>
    <span class="md-headline">Edit existing classroom</span>
  </md-card-title>
  <md-card-content>
    <form name="editClassroomForm" ng-submit="editClassroom()" novalidate>
    <div layout-gt-sm="row" layout-padding>
      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>Classroom</label>
        <md-select ng-model="selectedClassroom">
          <md-option ng-value="classroom" ng-repeat="classroom in classrooms | orderBy: name">
            {{classroom.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block short-input-container" flex-gt-sm>
        <label>Number</label>
        <input ng-model="selectedClassroom.name" type="text" required ng-minlength="1" ng-maxlength="45">
      </md-input-container>

      <span>
            <md-button type="submit" ng-disabled="editClassroomForm.$invalid" class="md-primary md-raised">Save</md-button>
        </span>
    </div>
    </form>
  </md-card-content>
</md-card>

<md-card id="addClassroomCard">
  <md-card-title>
    <span class="md-headline">Add new classroom</span>
  </md-card-title>
  <md-card-content>
    <form name="addClassroomForm" ng-submit="addClassroom()" novalidate>
      <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block short-input-container" flex-gt-sm>
          <label>Number</label>
          <input ng-model="newClassroom.name" type="text" required ng-minlength="1" ng-maxlength="45">
        </md-input-container>

        <span>
            <md-button type="submit" ng-disabled="addClassroomForm.$invalid" class="md-primary md-raised">Add</md-button>
        </span>
      </div>
    </form>
  </md-card-content>
</md-card>